<H1>This is my ALPHA BLOG about  page</H1>  
<H2><%= link_to 'Home', root_path %></H2>
<%= image_tag '6BR0TAY7_2205051340_002.JPG' %>
<div style=width:640px>

<BR><BR><BR><BR><BR><BR><BR>
<div align=center size=2></div>This is my about footer.</div>
