<H1>This is my ALPHA BLOG home pageX</H1>  
<%= link_to 'Alpha Blog Articles', articles_path %>  ||  <%= link_to 'About', about_path %>
<div style=width:640px>
If you successfully used this regex in the past and it stopped working, that's because in the past few months, 
ngrok URLs started using - characters. The regex above has one additional character, and must be used in place of the old (very similar regex).
</div>
<BR><BR><BR><BR><BR><BR><BR>
<div align=center size=2></div>This is my footer.</div>
